.bottom-tab {
  position: fixed;
  bottom: 0;
  display: none;
  z-index: 2000;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  background: white;
  box-shadow: 0 -1px 0 lightgray;
  width: 100%;
  padding: 8px;

  @include respond(mobile) {
    display: flex;
  }

  &__active {
    color: #5252e1;
  }

}
