.bottom-tab {
  position: fixed;
  bottom: 0;
  display: none;
  z-index: 2000;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  background: white;
  width: 100%;
  padding: 8px;


  @include respond(mobile) {
    display: flex;
  }

}
