.carousel {

  &__title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
  }


  &__product {
    padding-left: 20px;
    text-align: center;

    &-photo {
      width: 150px;
      height: 150px;
      object-fit: contain;
    }

    &-brand {
      font-weight: bold;
    }

    &-name {

    }

  }

}
