.categories-bar {
  background: black;

  @include respond(mobile) {
    background: none;
  }

  &__desktop {
    display: flex;
    color: white;
    padding: 15px;
    align-items: center;
    justify-content: space-between;

    @include container;

    @include respond(mobile) {
      display: none;
    }

  }

  ::-webkit-scrollbar {
    display: none;
  }

  &__mobile {
    display: none;
    white-space: nowrap;
    overflow: auto;


    &-button {
      border-radius: 5px;
      cursor: pointer;
      border: none;
      margin-left: 10px;
      padding: 10px;
      margin-top: 5px;
      margin-bottom: 5px;
      background: white;
      box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.3);
    }

    @include respond(mobile) {
      display: block;
    }
  }


}
