.user-modal {
  transition: .2s;
  position: absolute;
  z-index: 2000;
  right: -150px;
  top: 50px;
  width: 400px;
  background: white;
  padding: 20px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  border-radius: 5px;

  @include respond(mobile) {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }


  &__user {
    @include flex;

    & > div {
      margin-left: 20px;

      & > p {
        font-size: 15px;
      }
    }
  }


  &__button {
    @include flex;
    margin-top: 20px;
    justify-content: space-between;

    &-signin {
      @include button-black;
      width: 48%;
    }

    &-register {
      @include button-white;
      width: 48%;
    }
  }


  &__list {
    margin-top: 20px;


    & > a {
      @include flex;
      padding: 10px 0;

      &:not(:last-child) {
        border-bottom: 1px solid lightgray;
      }

      & > div {
        margin-left: 20px;

        & > p:first-child {
          font-size: 18px;
        }

        & > p:last-child {
          color: gray;
          font-size: 15px;
        }
      }
    }
  }
}
