<html ng-app=ShopApp>
   <head>
      <title>The jQuery Example</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.9/angular.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://rawgit.com/michaelbromley/angularUtils-pagination/master/dirPagination.js"></script>
    <script src="./js/datatable.js"></script>
    
  
  <!--  for hal rest  useless now  -->
   <!--    <script type = "text/javascript" language = "javascript">
         $(document).ready(function() {

            	$.getJSON( "/api/products", function( data ) {
          			
					for(x in data._embedded.products){
						
				$('table').append("<tr><td>"+data._embedded.products[x].name+"</td>"+
						"<td>"+data._embedded.products[x].price+"</td>"+
						"<td>"+data._embedded.products[x].category+"</td>"+
						"<td>"+data._embedded.products[x].info+"</td>"+
						"<tr/>");
					}
            }); 
         });    
      </script> -->
      
   </head>
	
 <body> 
 <div class="container">
 	<div ng-controller="ProductsController">

              <label for="search">items per page:</label>
    
 
 
 
   
    <table>
        <tr>
            <td align="right">Search :</td>
            <td><input ng-model="search" /></td>
        </tr>           
        <tr>
            <td align="right">Search By :</td>
            <td>
                <select ng-model="select">
                    <option value="" selected>All</option>
                    <option value="rpg">rpg</option>
                    <option value="mmo">mmo</option>
                    <option value="action">action</option>
                </select>   
            </td>
        </tr>
    </table>
    <hr>
 
 
 
 
 <input ng-model="category">
 

        <table border="1">
            <tr>
                <th>Name</th>
                <th>price</th>
                <th>category</th>
                <th>info</th>
            </tr>
            <tr dir-paginate="product in products | itemsPerPage: 5| filter:{category:select} | filter:{name:search}" current-page="currentPage">
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.category}}</td>
                <td>{{product.info}}</td>                
            </tr>
        </table>
        
        
        </div>
        
        <div ng-controller="PagingController" class="other-controller">
          <div class="text-center">
          <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
          </div>
        </div>
        
        
        </div>
        
  
  </body>
</html>